In [1]:
# Import libraries
import numpy as np
import pandas as pd
from matplotlib.pyplot import plot as plt

In [2]:
# Read data from station "4"
df1 = pd.read_csv('data/4/TA00006.csv')
df2 = pd.read_csv('data/4/TA00009.csv')
df3 = pd.read_csv('data/4/TA00039.csv')
metadata = pd.read_csv('data/4/metadata.csv')

In [3]:
metadata

,station code,name,country,installation height (m),latitude,longitude,elevation (m),timezone
0,TA00040,"University for Development Studies, Navrongo C...",GH,2,10.884722,-1.090278,200,Africa/Accra
1,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra
2,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra
3,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra

In [4]:
metadata.columns

Index(['station code', 'name', 'country', 'installation height (m)',
       'latitude', 'longitude', 'elevation (m)', 'timezone'],
      dtype='object')

In [5]:
metadata.rename(columns={'station code': 'station_code', 
                                  'installation height (m)': 'installation_height_(m)',
                                  'elevation (m)': 'elevation_(m)'}, inplace=True)

In [6]:
df1.head()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
0,2015-08-19 09:40,100.47,0.0,71.0,0.82,25.3,237.0,1.6,0.4
1,2015-08-19 09:45,100.47,0.0,0.0,0.82,25.4,212.0,1.1,0.1
2,2015-08-19 09:50,100.47,0.0,0.0,0.82,25.5,286.0,0.1,0.0
3,2015-08-19 09:55,100.47,0.0,0.0,0.82,25.6,281.0,0.1,0.0
4,2015-08-19 10:00,100.47,0.0,0.0,0.81,25.8,275.0,0.1,0.1

In [7]:
df1.tail()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
505167,2020-10-07 12:45,100.13,0.0,414.0,0.898,26.8,26.0,1.44,0.81
505168,2020-10-07 12:50,100.11,0.0,448.0,0.886,27.2,58.0,1.67,0.80
505169,2020-10-07 12:55,100.08,0.0,534.0,0.878,27.1,80.0,1.71,0.94
505170,2020-10-07 13:00,100.07,0.0,571.0,0.884,27.1,90.0,2.02,0.85
505171,2020-10-07 13:05,100.06,0.0,560.0,0.884,27.1,125.0,1.75,0.81

In [8]:
df1.columns

Index(['timestamp (UTC)', 'atmosphericpressure (kPa)', 'precipitation (mm)',
       'radiation (W/m2)', 'relativehumidity (-)',
       'temperature (degrees Celsius)', 'winddirection (degrees)',
       'windgusts (m/s)', 'windspeed (m/s)'],
      dtype='object')

In [9]:
df1.rename(columns={'timestamp (UTC)': 'timestamp_(UTC)', 
                              'atmosphericpressure (kPa)': 'atmospheric_pressure_(kPa)', 
                              'precipitation (mm)': 'precipitation_(mm)',
                              'radiation (W/m2)': 'radiation_(W/m2)', 
                              'relativehumidity (-)': 'relative_humidity_(-)',
                              'temperature (degrees Celsius)': 'temperature_(degrees_Celsius)', 
                              'winddirection (degrees)': 'wind_direction_(degrees)',
                              'windgusts (m/s)': 'wind_gusts_(m/s)', 
                              'windspeed (m/s)': 'wind_speed_(m/s)'
                             }, inplace=True)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505172 entries, 0 to 505171
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                505172 non-null  object
 1   atmospheric_pressure_(kPa)     504839 non-null  float64
 2   precipitation_(mm)             486936 non-null  float64
 3   radiation_(W/m2)               503691 non-null  float64
 4   relative_humidity_(-)          504781 non-null  float64
 5   temperature_(degrees_Celsius)  504765 non-null  float64
 6   wind_direction_(degrees)       490607 non-null  float64
 7   wind_gusts_(m/s)               490543 non-null  float64
 8   wind_speed_(m/s)               490607 non-null  float64
dtypes: float64(8), object(1)
memory usage: 34.7+ MB

In [11]:
df1.duplicated().sum()

0

In [12]:
df1['timestamp_(UTC)'] = pd.to_datetime(df1['timestamp_(UTC)'])

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505172 entries, 0 to 505171
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                505172 non-null  datetime64[ns]
 1   atmospheric_pressure_(kPa)     504839 non-null  float64
 2   precipitation_(mm)             486936 non-null  float64
 3   radiation_(W/m2)               503691 non-null  float64
 4   relative_humidity_(-)          504781 non-null  float64
 5   temperature_(degrees_Celsius)  504765 non-null  float64
 6   wind_direction_(degrees)       490607 non-null  float64
 7   wind_gusts_(m/s)               490543 non-null  float64
 8   wind_speed_(m/s)               490607 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 34.7 MB

In [14]:
df1.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,504839.000000,486936.000000,503691.000000,504781.000000,504765.000000,490607.000000,490543.000000,490607.000000
mean,100.018187,0.014156,156.237314,0.863848,26.467463,186.961751,1.247717,0.596086
std,0.229115,0.205009,234.150710,0.139262,3.726919,99.815171,0.759505,0.352999
min,79.970000,0.000000,0.000000,0.040000,13.300000,0.000000,0.000000,0.000000
25%,99.860000,0.000000,0.000000,0.790000,23.700000,98.000000,0.700000,0.300000
50%,100.020000,0.000000,0.000000,0.910000,25.400000,205.000000,1.100000,0.500000
75%,100.180000,0.000000,262.000000,0.970000,29.000000,265.000000,1.630000,0.800000
max,100.780000,12.330000,1298.000000,1.000000,47.000000,359.000000,11.490000,8.800000

In [15]:
# Drop rows with any NA value to avoid us guessing values that might be wrong
df1.dropna(inplace=True)

In [16]:
df1.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,472513.000000,472513.000000,472513.000000,472513.000000,472513.000000,472513.000000,472513.000000,472513.000000
mean,100.024204,0.011345,156.346628,0.864811,26.435772,188.580020,1.236365,0.583630
std,0.221172,0.174647,234.534496,0.136954,3.644940,100.191129,0.744814,0.333068
min,99.290000,0.000000,0.000000,0.110000,13.300000,0.000000,0.000000,0.000000
25%,99.870000,0.000000,0.000000,0.790000,23.700000,97.000000,0.700000,0.300000
50%,100.030000,0.000000,0.000000,0.910000,25.400000,209.000000,1.070000,0.500000
75%,100.180000,0.000000,262.000000,0.970000,28.800000,268.000000,1.600000,0.780000
max,100.780000,12.221000,1298.000000,1.000000,38.600000,359.000000,11.490000,8.800000

In [17]:
df1_code = metadata['station_code'].unique()[2]

In [18]:
df1['station_code'] = df1_code

In [19]:
df1.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code
0,2015-08-19 09:40:00,100.47,0.0,71.0,0.82,25.3,237.0,1.6,0.4,TA00006
1,2015-08-19 09:45:00,100.47,0.0,0.0,0.82,25.4,212.0,1.1,0.1,TA00006
2,2015-08-19 09:50:00,100.47,0.0,0.0,0.82,25.5,286.0,0.1,0.0,TA00006
3,2015-08-19 09:55:00,100.47,0.0,0.0,0.82,25.6,281.0,0.1,0.0,TA00006
4,2015-08-19 10:00:00,100.47,0.0,0.0,0.81,25.8,275.0,0.1,0.1,TA00006

In [20]:
weather_df1 = df1.merge(metadata, how='left', on='station_code')

In [21]:
weather_df1.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code,name,country,installation_height_(m),latitude,longitude,elevation_(m),timezone
0,2015-08-19 09:40:00,100.47,0.0,71.0,0.82,25.3,237.0,1.6,0.4,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra
1,2015-08-19 09:45:00,100.47,0.0,0.0,0.82,25.4,212.0,1.1,0.1,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra
2,2015-08-19 09:50:00,100.47,0.0,0.0,0.82,25.5,286.0,0.1,0.0,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra
3,2015-08-19 09:55:00,100.47,0.0,0.0,0.82,25.6,281.0,0.1,0.0,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra
4,2015-08-19 10:00:00,100.47,0.0,0.0,0.81,25.8,275.0,0.1,0.1,TA00006,Nana Brentu SHTS Enchi,GH,2,5.811292,-2.825617,139,Africa/Accra

In [22]:
weather_df1.to_csv('data/clean/enchi.csv', index=False)

In [23]:
df2.head()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
0,2015-08-25 14:10,97.93,1.19,308.0,0.70,29.0,55.0,2.3,0.8
1,2015-08-25 14:15,97.91,0.00,540.0,0.70,29.0,74.0,1.1,0.7
2,2015-08-25 14:20,97.91,0.02,286.0,0.70,29.0,75.0,3.1,1.0
3,2015-08-25 14:25,97.91,0.00,304.0,0.71,28.4,168.0,2.3,1.4
4,2015-08-25 14:30,97.90,0.00,260.0,0.73,27.9,172.0,2.0,1.5

In [24]:
df2.tail()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
513122,2020-10-07 11:50,98.05,0.0,945.0,0.764,27.9,166.0,1.16,0.74
513123,2020-10-07 11:55,98.03,0.0,975.0,0.751,28.3,165.0,1.64,0.64
513124,2020-10-07 12:00,98.02,0.0,951.0,0.747,28.3,133.0,1.13,0.70
513125,2020-10-07 12:05,98.00,0.0,954.0,0.724,28.6,131.0,1.92,0.90
513126,2020-10-07 12:10,97.98,0.0,288.0,0.761,28.1,113.0,1.84,0.74

In [25]:
df2.columns

Index(['timestamp (UTC)', 'atmosphericpressure (kPa)', 'precipitation (mm)',
       'radiation (W/m2)', 'relativehumidity (-)',
       'temperature (degrees Celsius)', 'winddirection (degrees)',
       'windgusts (m/s)', 'windspeed (m/s)'],
      dtype='object')

In [26]:
df2.rename(columns={'timestamp (UTC)': 'timestamp_(UTC)', 
                              'atmosphericpressure (kPa)': 'atmospheric_pressure_(kPa)', 
                              'precipitation (mm)': 'precipitation_(mm)',
                              'radiation (W/m2)': 'radiation_(W/m2)', 
                              'relativehumidity (-)': 'relative_humidity_(-)',
                              'temperature (degrees Celsius)': 'temperature_(degrees_Celsius)', 
                              'winddirection (degrees)': 'wind_direction_(degrees)',
                              'windgusts (m/s)': 'wind_gusts_(m/s)', 
                              'windspeed (m/s)': 'wind_speed_(m/s)'
                             }, inplace=True)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513127 entries, 0 to 513126
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                513127 non-null  object
 1   atmospheric_pressure_(kPa)     513122 non-null  float64
 2   precipitation_(mm)             262486 non-null  float64
 3   radiation_(W/m2)               505062 non-null  float64
 4   relative_humidity_(-)          512991 non-null  float64
 5   temperature_(degrees_Celsius)  512718 non-null  float64
 6   wind_direction_(degrees)       504481 non-null  float64
 7   wind_gusts_(m/s)               504138 non-null  float64
 8   wind_speed_(m/s)               504481 non-null  float64
dtypes: float64(8), object(1)
memory usage: 35.2+ MB

In [28]:
df2.duplicated().sum()

0

In [29]:
df2['timestamp_(UTC)'] = pd.to_datetime(df2['timestamp_(UTC)'])

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513127 entries, 0 to 513126
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                513127 non-null  datetime64[ns]
 1   atmospheric_pressure_(kPa)     513122 non-null  float64
 2   precipitation_(mm)             262486 non-null  float64
 3   radiation_(W/m2)               505062 non-null  float64
 4   relative_humidity_(-)          512991 non-null  float64
 5   temperature_(degrees_Celsius)  512718 non-null  float64
 6   wind_direction_(degrees)       504481 non-null  float64
 7   wind_gusts_(m/s)               504138 non-null  float64
 8   wind_speed_(m/s)               504481 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 35.2 MB

In [31]:
df2.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,513122.000000,262486.000000,505062.000000,512991.000000,512718.000000,504481.000000,504138.000000,504481.000000
mean,97.859434,0.011155,151.025353,0.757111,26.995369,149.643372,1.101236,0.472045
std,0.243451,0.184486,224.960250,0.198980,4.537953,72.291819,0.681656,0.290695
min,96.490000,0.000000,0.000000,0.080000,14.200000,0.000000,0.000000,0.000000
25%,97.710000,0.000000,0.000000,0.640000,23.400000,100.000000,0.600000,0.300000
50%,97.880000,0.000000,0.000000,0.830000,25.700000,154.000000,1.000000,0.400000
75%,98.030000,0.000000,255.000000,0.910000,30.100000,199.000000,1.490000,0.600000
max,98.620000,13.413000,1317.000000,1.000000,44.600000,359.000000,12.400000,4.800000

In [32]:
# Drop rows with any NA value to avoid us guessing values that might be wrong
df2.dropna(inplace=True)

In [33]:
df2.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,256407.000000,256407.000000,256407.000000,256407.000000,256407.000000,256407.000000,256407.000000,256407.000000
mean,97.864705,0.008906,152.397154,0.758868,26.974157,144.491593,1.181269,0.534967
std,0.257328,0.156190,224.978431,0.198105,4.562467,58.722737,0.684151,0.305348
min,96.490000,0.000000,0.000000,0.100000,14.200000,0.000000,0.000000,0.000000
25%,97.720000,0.000000,0.000000,0.640000,23.400000,116.000000,0.700000,0.300000
50%,97.890000,0.000000,2.000000,0.820000,25.700000,147.000000,1.060000,0.500000
75%,98.040000,0.000000,258.000000,0.911000,30.100000,170.000000,1.530000,0.700000
max,98.620000,13.413000,1317.000000,1.000000,44.600000,359.000000,12.400000,4.800000

In [34]:
df2_code = metadata['station_code'].unique()[3]

In [35]:
df2['station_code'] = df2_code

In [36]:
df2.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code
0,2015-08-25 14:10:00,97.93,1.19,308.0,0.70,29.0,55.0,2.3,0.8,TA00009
1,2015-08-25 14:15:00,97.91,0.00,540.0,0.70,29.0,74.0,1.1,0.7,TA00009
2,2015-08-25 14:20:00,97.91,0.02,286.0,0.70,29.0,75.0,3.1,1.0,TA00009
3,2015-08-25 14:25:00,97.91,0.00,304.0,0.71,28.4,168.0,2.3,1.4,TA00009
4,2015-08-25 14:30:00,97.90,0.00,260.0,0.73,27.9,172.0,2.0,1.5,TA00009

In [37]:
weather_df2 = df2.merge(metadata, how='left', on='station_code')

In [38]:
weather_df2.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code,name,country,installation_height_(m),latitude,longitude,elevation_(m),timezone
0,2015-08-25 14:10:00,97.93,1.19,308.0,0.70,29.0,55.0,2.3,0.8,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra
1,2015-08-25 14:15:00,97.91,0.00,540.0,0.70,29.0,74.0,1.1,0.7,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra
2,2015-08-25 14:20:00,97.91,0.02,286.0,0.70,29.0,75.0,3.1,1.0,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra
3,2015-08-25 14:25:00,97.91,0.00,304.0,0.71,28.4,168.0,2.3,1.4,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra
4,2015-08-25 14:30:00,97.90,0.00,260.0,0.73,27.9,172.0,2.0,1.5,TA00009,Adehyeman SHS Amasu,GH,2,7.224886,-2.782252,319,Africa/Accra

In [39]:
weather_df2.to_csv('data/clean/amasu.csv', index=False)

In [40]:
df3.head()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
0,2016-11-18 15:15,NaN,NaN,0.0,NaN,NaN,63.0,0.0,0.0
1,2016-11-18 15:20,NaN,NaN,0.0,NaN,NaN,40.0,0.0,0.0
2,2016-11-18 15:25,NaN,NaN,0.0,NaN,NaN,89.0,0.0,0.0
3,2016-11-18 15:30,NaN,NaN,0.0,NaN,NaN,51.0,0.0,0.0
4,2016-11-18 15:35,NaN,NaN,0.0,NaN,NaN,91.0,0.0,0.0

In [41]:
df3.tail()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
332899,2020-10-07 12:40,98.25,0.0,728.0,0.928,26.3,90.0,2.29,0.86
332900,2020-10-07 12:45,98.25,0.0,648.0,0.967,25.9,132.0,2.09,1.18
332901,2020-10-07 12:50,98.24,0.0,824.0,0.934,26.4,175.0,2.68,1.29
332902,2020-10-07 12:55,98.23,0.0,858.0,0.896,27.2,210.0,2.90,0.88
332903,2020-10-07 13:00,98.23,0.0,711.0,0.926,26.9,193.0,4.31,1.53

In [42]:
df3.columns

Index(['timestamp (UTC)', 'atmosphericpressure (kPa)', 'precipitation (mm)',
       'radiation (W/m2)', 'relativehumidity (-)',
       'temperature (degrees Celsius)', 'winddirection (degrees)',
       'windgusts (m/s)', 'windspeed (m/s)'],
      dtype='object')

In [43]:
df3.rename(columns={'timestamp (UTC)': 'timestamp_(UTC)', 
                              'atmosphericpressure (kPa)': 'atmospheric_pressure_(kPa)', 
                              'precipitation (mm)': 'precipitation_(mm)',
                              'radiation (W/m2)': 'radiation_(W/m2)', 
                              'relativehumidity (-)': 'relative_humidity_(-)',
                              'temperature (degrees Celsius)': 'temperature_(degrees_Celsius)', 
                              'winddirection (degrees)': 'wind_direction_(degrees)',
                              'windgusts (m/s)': 'wind_gusts_(m/s)', 
                              'windspeed (m/s)': 'wind_speed_(m/s)'
                             }, inplace=True)

In [44]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332904 entries, 0 to 332903
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                332904 non-null  object
 1   atmospheric_pressure_(kPa)     303013 non-null  float64
 2   precipitation_(mm)             286778 non-null  float64
 3   radiation_(W/m2)               332886 non-null  float64
 4   relative_humidity_(-)          300062 non-null  float64
 5   temperature_(degrees_Celsius)  305182 non-null  float64
 6   wind_direction_(degrees)       319278 non-null  float64
 7   wind_gusts_(m/s)               317652 non-null  float64
 8   wind_speed_(m/s)               317638 non-null  float64
dtypes: float64(8), object(1)
memory usage: 22.9+ MB

In [45]:
df3.duplicated().sum()

0

In [46]:
df3['timestamp_(UTC)'] = pd.to_datetime(df3['timestamp_(UTC)'])

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332904 entries, 0 to 332903
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                332904 non-null  datetime64[ns]
 1   atmospheric_pressure_(kPa)     303013 non-null  float64
 2   precipitation_(mm)             286778 non-null  float64
 3   radiation_(W/m2)               332886 non-null  float64
 4   relative_humidity_(-)          300062 non-null  float64
 5   temperature_(degrees_Celsius)  305182 non-null  float64
 6   wind_direction_(degrees)       319278 non-null  float64
 7   wind_gusts_(m/s)               317652 non-null  float64
 8   wind_speed_(m/s)               317638 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 22.9 MB

In [48]:
df3.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,303013.000000,286778.000000,332886.000000,300062.000000,305182.000000,319278.000000,317652.000000,317638.000000
mean,98.163176,0.064695,142.926876,0.842646,25.615532,177.624738,1.483868,0.642541
std,1.138992,1.156193,229.868666,0.141123,5.453286,81.241996,2.271994,0.778888
min,79.010000,0.000000,0.000000,0.040000,-14.400000,0.000000,0.000000,0.000000
25%,98.110000,0.000000,0.000000,0.769000,23.500000,130.000000,0.640000,0.330000
50%,98.260000,0.000000,0.000000,0.890000,25.300000,193.000000,1.350000,0.610000
75%,98.400000,0.000000,226.000000,0.943000,28.400000,236.000000,2.020000,0.890000
max,101.280000,33.680000,1185.000000,1.000000,38.600000,359.000000,60.000000,39.920000

In [49]:
# Drop rows with any NA value to avoid us guessing values that might be wrong
df3.dropna(inplace=True)

In [50]:
df3.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,272379.000000,272379.000000,272379.000000,272379.000000,272379.000000,272379.000000,272379.000000,272379.000000
mean,98.261730,0.008593,162.254939,0.839784,26.230995,193.255376,1.566378,0.699439
std,0.204135,0.147917,236.968085,0.134582,3.196194,66.946475,1.004362,0.486234
min,97.480000,0.000000,0.000000,0.173000,16.900000,0.000000,0.080000,0.040000
25%,98.120000,0.000000,0.000000,0.767000,23.700000,150.000000,0.870000,0.420000
50%,98.270000,0.000000,6.000000,0.884000,25.500000,202.000000,1.470000,0.660000
75%,98.400000,0.000000,276.000000,0.939000,28.500000,241.000000,2.090000,0.920000
max,98.930000,12.834000,1185.000000,1.000000,37.400000,359.000000,60.000000,38.740000

In [51]:
df3_code = metadata['station_code'].unique()[1]

In [52]:
df3['station_code'] = df3_code

In [53]:
df3.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code
44885,2017-05-06 00:05:00,98.34,0.0,0.0,0.908,24.7,244.0,0.57,0.30,TA00039
44886,2017-05-06 00:10:00,98.34,0.0,0.0,0.908,24.7,241.0,0.78,0.37,TA00039
44887,2017-05-06 00:15:00,98.35,0.0,0.0,0.910,24.7,229.0,0.76,0.27,TA00039
44888,2017-05-06 00:20:00,98.34,0.0,0.0,0.915,24.6,195.0,0.79,0.33,TA00039
44889,2017-05-06 00:25:00,98.32,0.0,0.0,0.924,24.5,104.0,0.90,0.41,TA00039

In [54]:
weather_df3 = df3.merge(metadata, how='left', on='station_code')

In [55]:
weather_df3.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code,name,country,installation_height_(m),latitude,longitude,elevation_(m),timezone
0,2017-05-06 00:05:00,98.34,0.0,0.0,0.908,24.7,244.0,0.57,0.30,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra
1,2017-05-06 00:10:00,98.34,0.0,0.0,0.908,24.7,241.0,0.78,0.37,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra
2,2017-05-06 00:15:00,98.35,0.0,0.0,0.910,24.7,229.0,0.76,0.27,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra
3,2017-05-06 00:20:00,98.34,0.0,0.0,0.915,24.6,195.0,0.79,0.33,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra
4,2017-05-06 00:25:00,98.32,0.0,0.0,0.924,24.5,104.0,0.90,0.41,TA00039,KNUST JHS Kumasi,GH,2,6.684167,-1.568333,302,Africa/Accra

In [56]:
weather_df3.to_csv('data/clean/kumasi.csv', index=False)