In [1]:
# Import libraries
import numpy as np
import pandas as pd
from matplotlib.pyplot import plot as plt

In [2]:
# Read data from station "2"
station2_data = pd.read_csv('data/2/TA00098.csv')
station2_metadata = pd.read_csv('data/2/metadata.csv')

In [3]:
station2_data.head()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
0,2019-01-01 00:00,100.72,0.0,0.0,0.87,26.8,190.0,0.3,0.2
1,2019-01-01 00:05,100.71,0.0,0.0,0.87,26.7,216.0,0.3,0.1
2,2019-01-01 00:10,100.71,0.0,0.0,0.87,26.6,229.0,0.2,0.1
3,2019-01-01 00:15,100.71,0.0,0.0,0.88,26.6,252.0,0.4,0.1
4,2019-01-01 00:20,100.69,0.0,0.0,0.88,26.6,308.0,0.4,0.1

In [4]:
station2_data.tail()

,timestamp (UTC),atmosphericpressure (kPa),precipitation (mm),radiation (W/m2),relativehumidity (-),temperature (degrees Celsius),winddirection (degrees),windgusts (m/s),windspeed (m/s)
104984,2019-12-31 23:35,100.40,0.0,0.0,0.98,24.2,336.0,0.61,0.45
104985,2019-12-31 23:40,100.40,0.0,0.0,0.96,24.4,326.0,0.71,0.63
104986,2019-12-31 23:45,100.40,0.0,0.0,0.96,24.5,330.0,0.74,0.63
104987,2019-12-31 23:50,100.40,0.0,0.0,0.96,24.4,337.0,0.65,0.56
104988,2019-12-31 23:55,100.39,0.0,0.0,0.96,24.5,326.0,0.79,0.65

In [5]:
station2_data.columns

Index(['timestamp (UTC)', 'atmosphericpressure (kPa)', 'precipitation (mm)',
       'radiation (W/m2)', 'relativehumidity (-)',
       'temperature (degrees Celsius)', 'winddirection (degrees)',
       'windgusts (m/s)', 'windspeed (m/s)'],
      dtype='object')

In [6]:
station2_data.rename(columns={'timestamp (UTC)': 'timestamp_(UTC)', 
                              'atmosphericpressure (kPa)': 'atmospheric_pressure_(kPa)', 
                              'precipitation (mm)': 'precipitation_(mm)',
                              'radiation (W/m2)': 'radiation_(W/m2)', 
                              'relativehumidity (-)': 'relative_humidity_(-)',
                              'temperature (degrees Celsius)': 'temperature_(degrees_Celsius)', 
                              'winddirection (degrees)': 'wind_direction_(degrees)',
                              'windgusts (m/s)': 'wind_gusts_(m/s)', 
                              'windspeed (m/s)': 'wind_speed_(m/s)'
                             }, inplace=True)

In [7]:
station2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104989 entries, 0 to 104988
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                104989 non-null  object
 1   atmospheric_pressure_(kPa)     104984 non-null  float64
 2   precipitation_(mm)             104987 non-null  float64
 3   radiation_(W/m2)               104987 non-null  float64
 4   relative_humidity_(-)          104653 non-null  float64
 5   temperature_(degrees_Celsius)  104734 non-null  float64
 6   wind_direction_(degrees)       103517 non-null  float64
 7   wind_gusts_(m/s)               103267 non-null  float64
 8   wind_speed_(m/s)               103517 non-null  float64
dtypes: float64(8), object(1)
memory usage: 7.2+ MB

In [8]:
station2_data.duplicated().sum()

0

In [9]:
station2_data['timestamp_(UTC)'] = pd.to_datetime(station2_data['timestamp_(UTC)'])

In [10]:
station2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104989 entries, 0 to 104988
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   timestamp_(UTC)                104989 non-null  datetime64[ns]
 1   atmospheric_pressure_(kPa)     104984 non-null  float64
 2   precipitation_(mm)             104987 non-null  float64
 3   radiation_(W/m2)               104987 non-null  float64
 4   relative_humidity_(-)          104653 non-null  float64
 5   temperature_(degrees_Celsius)  104734 non-null  float64
 6   wind_direction_(degrees)       103517 non-null  float64
 7   wind_gusts_(m/s)               103267 non-null  float64
 8   wind_speed_(m/s)               103517 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 7.2 MB

In [11]:
station2_data.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,104984.000000,104987.000000,104987.000000,104653.000000,104734.000000,103517.000000,103267.000000,103517.000000
mean,100.473462,0.009562,184.265881,0.863140,27.293061,247.546818,2.702806,1.361635
std,0.205442,0.184715,264.396328,0.098845,2.720695,52.882628,1.551493,0.821042
min,99.760000,0.000000,0.000000,0.240000,20.300000,0.000000,0.100000,0.000000
25%,100.330000,0.000000,0.000000,0.799000,25.100000,219.000000,1.500000,0.730000
50%,100.460000,0.000000,0.000000,0.890000,26.900000,244.000000,2.510000,1.260000
75%,100.610000,0.000000,335.000000,0.931000,29.100000,275.000000,3.700000,1.900000
max,101.250000,13.520000,1205.000000,1.000000,36.500000,359.000000,36.100000,35.600000

In [12]:
# Drop rows with any NA value to avoid us guessing values that might be wrong
station2_data.dropna(inplace=True)

In [13]:
station2_data.describe()

,atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s)
count,102934.000000,102934.000000,102934.000000,102934.000000,102934.000000,102934.000000,102934.000000,102934.000000
mean,100.475550,0.006481,186.374065,0.861491,27.346705,247.501525,2.703221,1.359291
std,0.205598,0.140256,265.559059,0.098515,2.694984,52.857837,1.551865,0.817543
min,99.760000,0.000000,0.000000,0.240000,21.300000,0.000000,0.100000,0.000000
25%,100.330000,0.000000,0.000000,0.796000,25.100000,219.000000,1.500000,0.730000
50%,100.470000,0.000000,1.000000,0.890000,27.000000,244.000000,2.510000,1.250000
75%,100.610000,0.000000,341.000000,0.930000,29.100000,275.000000,3.700000,1.890000
max,101.250000,11.391000,1205.000000,1.000000,36.500000,359.000000,36.100000,35.600000

In [14]:
station2_metadata

,station code,name,country,installation height (m),latitude,longitude,elevation (m),timezone
0,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra

In [15]:
station2_metadata.columns

Index(['station code', 'name', 'country', 'installation height (m)',
       'latitude', 'longitude', 'elevation (m)', 'timezone'],
      dtype='object')

In [16]:
station2_metadata.rename(columns={'station code': 'station_code', 
                                  'installation height (m)': 'installation_height_(m)',
                                  'elevation (m)': 'elevation_(m)'}, inplace=True)

In [17]:
station2_code = station2_metadata['station_code'].unique()[0]

In [18]:
station2_data['station_code'] = station2_code

In [19]:
station2_data.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code
0,2019-01-01 00:00:00,100.72,0.0,0.0,0.87,26.8,190.0,0.3,0.2,TA00098
1,2019-01-01 00:05:00,100.71,0.0,0.0,0.87,26.7,216.0,0.3,0.1,TA00098
2,2019-01-01 00:10:00,100.71,0.0,0.0,0.87,26.6,229.0,0.2,0.1,TA00098
3,2019-01-01 00:15:00,100.71,0.0,0.0,0.88,26.6,252.0,0.4,0.1,TA00098
4,2019-01-01 00:20:00,100.69,0.0,0.0,0.88,26.6,308.0,0.4,0.1,TA00098

In [20]:
weather_df = station2_data.merge(station2_metadata, how='left', on='station_code')

In [21]:
weather_df.head()

,timestamp_(UTC),atmospheric_pressure_(kPa),precipitation_(mm),radiation_(W/m2),relative_humidity_(-),temperature_(degrees_Celsius),wind_direction_(degrees),wind_gusts_(m/s),wind_speed_(m/s),station_code,name,country,installation_height_(m),latitude,longitude,elevation_(m),timezone
0,2019-01-01 00:00:00,100.72,0.0,0.0,0.87,26.8,190.0,0.3,0.2,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra
1,2019-01-01 00:05:00,100.71,0.0,0.0,0.87,26.7,216.0,0.3,0.1,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra
2,2019-01-01 00:10:00,100.71,0.0,0.0,0.87,26.6,229.0,0.2,0.1,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra
3,2019-01-01 00:15:00,100.71,0.0,0.0,0.88,26.6,252.0,0.4,0.1,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra
4,2019-01-01 00:20:00,100.69,0.0,0.0,0.88,26.6,308.0,0.4,0.1,TA00098,GMet HQ,GH,2,5.651103,-0.164521,19,Africa/Accra

In [22]:
weather_df.to_csv('data/clean/ghmet_hq2.csv', index=False)